model/src/main/resources/schemas/User.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://epam.com/springcourse" version="1.0">

  <xs:complexType name="User">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="email" type="xs:string"/>
      <xs:element name="birthday" type="xs:dateTime"/>
      <xs:element name="password" type="xs:string"/>
      <xs:element name="userRoles" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
